---
apiVersion: v2
name: mattermost
type: application
version: 11.3.0-bb.0
appVersion: 11.3.0
description: "Deployment of mattermost"
keywords:
  - Mattermost
  - Instance
kubeVersion: ">=1.12.0-0"
dependencies:
  - name: postgresql
    version: 13.2.27
    alias: postgresql
    condition: postgresql.install
    repository: file://./deps/postgresql
  - name: minio-instance
    version: 7.1.1-bb.0
    alias: minio
    condition: minio.install
    repository: oci://registry1.dso.mil/bigbang
  - name: gluon
    version: 0.9.7
    repository: oci://registry1.dso.mil/bigbang
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Mattermost: 11.3.0
  helm.sh/images: |
    - name: mattermost
      image: registry1.dso.mil/ironbank/opensource/mattermost/mattermost:11.3.0
    - name: minio
      condition: minio.install
      image: registry1.dso.mil/ironbank/opensource/minio/minio:RELEASE.2025-10-15T17-29-55Z
    - name: mc
      condition: minio.install
      image: registry1.dso.mil/ironbank/opensource/minio/mc:RELEASE.2025-08-13T08-35-41Z
    - name: operator-sidecar
      condition: istio.hardened.minioOperator.enabled
      image: registry1.dso.mil/ironbank/opensource/minio/operator-sidecar:v7.1.0
    - name: postgresql
      condition: postgresql.install
      image: registry1.dso.mil/ironbank/opensource/postgres/postgresql:18.1
    - name: operator-sidecar
      image: registry1.dso.mil/ironbank/opensource/minio/operator-sidecar:v7.1.0
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.34
      condition: waitJob.enabled
