{{- if and .Values.networkPolicies.enabled .Values.monitoring.enabled .Values.minio.install .Values.minio.upstream.tenant.metrics.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-minio-metrics-scraping
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      {{- include "minio.labels" . | nindent 6 }}
      v1.min.io/tenant: mattermost-minio
  policyTypes:
    - Ingress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            app.kubernetes.io/name: monitoring
      ports:
      - port: {{ .Values.minio.upstream.tenant.metrics.port }}
        protocol: TCP
{{- end }}
