{{- if and (not .Values.database.secret) .Values.postgresql.install }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "mattermost.fullname" . }}-dbcreds
  namespace: {{ .Release.Namespace }}
  labels:
    {{ include "mattermost.labels" . | nindent 4 }}
    app.kubernetes.io/component: "database"
stringData:
  {{- with .Values.postgresql }}
  {{- /* New: make SSL configurable */ -}}
  {{- $sslMode := default "disable" .sslMode }}
  {{- $connParams := default "" .connParams }}

  DB_CONNECTION_CHECK_URL: "postgres://{{ .auth.username }}:{{ .auth.password }}@{{ .fullnameOverride }}:5432/{{ .auth.database }}?connect_timeout=10&sslmode={{ $sslMode }}{{- if $connParams }}&{{ $connParams }}{{- end }}"
  DB_CONNECTION_STRING:     "postgres://{{ .auth.username }}:{{ .auth.password }}@{{ .fullnameOverride }}:5432/{{ .auth.database }}?connect_timeout=10&sslmode={{ $sslMode }}{{- if $connParams }}&{{ $connParams }}{{- end }}"

  password: "{{ .auth.password }}"
  username: "{{ .auth.username }}"
  {{- end }}
{{- end }}
